<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
	<table align="center" style="margin-top:100px">
	<form method="post" action="/accounts/login/">
		{% csrf_token %}
		<tr>
		    <td>{{ form.username.label_tag }}</td>
		    <td>{{ form.username }}</td>
		</tr>
		<tr>
		    <td>{{ form.password.label_tag }}</td>
		    <td>{{ form.password }}</td>
		</tr>
		<tr>
		</tr>
		<tr>
		    <td></td>
		    <td>
		        <input type="submit" value="Login" class="btn small-buttoan" />
		    </td>
		</tr>
	</form>

    <tr>
    	<td></td>
	    <td>
	        <a href="/signup" style="color:black"><button type="button" class="btn">Create a new account</button></a>
	    </td>
    </tr>
	</table>
</body>
</html>